body{
    font-size: 16px;
    background: rgb(235, 192, 195);
    font-family: Arial, Helvetica, sans-serif;
}
::selection {
    color: rgb(250, 5, 21);
    background-color: rgb(0, 0, 0);
}

header{
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
}

nav ul li{
    float: right;
    list-style: none;
    margin: 40px;
    background-color: rgb(22, 29, 126);

}

#content {
    clear: both;
}

.article {
    margin-top: 50px;
}

aside {
    background-color: #388050;
    grid-area: aside;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}