body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/resources//img/pexels-kovyrina-937980.jpg");
    background-size: cover;


}
::selection {
    color: rgb(250, 5, 21);
    background-color: rgb(0, 0, 0);
}

header{
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: rgba(255, 255, 255, 0.651);
    text-shadow: 5px -5px 5px rgba(255, 255, 255, 0.651);;
}

nav{
    background-color: #194579;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 30px;

}

nav ul {
    list-style: none;
    margin-bottom: 20px;
}

nav ul li a{
    float: right;
    list-style: none;
    padding: 10px;
    color: rgb(194, 128, 67);
}


nav ul li a:hover {
    color: #ccc;
}

h2 {
    color: rgba(255, 127, 127, 0.856); 
    font-size:medium;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: rgb(255, 72, 0);
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadros {
    display: flex;
    justify-content: center;
    align-items: center;
}

.html_content {
    background: rgb(255, 149, 237, 0.5);
    border-top: 5px solid #ff1515;
    color: #ffffff;
    box-shadow: 15px 15px 15px 15px rgba(255, 255, 255, 0.651);;

}

.css_content {
    margin-top: 10px;
    background: rgb(32, 169, 187, 0.5);
    border-top: 5px solid #fc9b1d;
    color: #ffffff;
    box-shadow: 15px -15px -15px -15px rgba(255, 255, 255, 0.651);;

}

.tcp_ip_content {
    background: rgb(184, 54, 54, 0.5);
    border-top: 5px solid #0aa5ff;
    color: #ffffff;
    box-shadow: 10px -10px 10px rgba(255, 255, 255, 0.8);;

}

.dns_content {
    background: rgb(255, 247, 247, 0.5);
    border-top: 5px solid #ff1c1c;
    color: #ffffff;
    box-shadow: 10px -10px 10px rgba(255, 255, 255, 0.8);;

}


.dns_content, .tcp_ip_content {
    width: 33%;
    padding: 20px;
    margin: 0 10px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px -10px 10px rgba(255, 255, 255, 0.8);;
}

.css_content, .html_content {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 10px -10px 10px rgba(255, 255, 255, 0.8);;
}


.text {
    font-weight: 200;
    font-style: normal;
}

.logocontent {
    padding-right: 0;
    padding-left: 80%;
}

.logo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    padding: 10px;
    margin: 30 10px;
}


