body{
    font-size: 16px;
    background: rgb(235, 192, 195);
    font-family: Arial, Helvetica, sans-serif;
}
::selection {
    color: rgb(250, 5, 21);
    background-color: rgb(0, 0, 0);
}

nav ul li, nav ol li{
    float: left;
    list-style: none;
    margin: 10px;
    display: block

}

#content {
    clear: both;
}

.article {
    margin-top: 50px;
}


footer {
    overflow-y: auto;
    background-color: #989898;
    grid-area: footer;

  }

